.App {
  text-align: center;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.character-item {
  margin: 10px;
  text-align: center;
}

.character-item img {
  max-width: 100px;
  border-radius: 10px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
